.allTodos {
  list-style: none;
  margin: 0;
  padding: 0;
}
.singleTodo {
  border-radius: 20px;
  margin: 10px 0;
  background-color: #fcae1e;
  padding: 10px 20px;
  display: flex;
  width: 450px;
  align-items: center;
}
.todoText {
  flex: 1;
}

button {
  border: none;
  padding: 10px;
  border-radius: 20px;
  margin: 0 5px;
  background-color: transparent;
}
